﻿<h3>catproductos</h3>

@code {

}
@*

@page "/Productos"
<h3>Catalogo de Producto</h3>
<button type="button" @onclick="Agregar" class="btn btn-success"> <span class="oi oi-plus" />Agregar </button>
@if (mostrarFormulario)
{
    <div class="container">
        <div class="row">
            <div class="col-1">Categoría:</div>
            <div class="col-3">
                <select class="form-select w-100" @bind="@producto.IdCategoria">
                    @foreach (var item in categorias)
                    {
                        <option value="@item.Id"> @item.Nombre </option>
                    }
                </select>
            </div>
            <div class="col-1">Nombre: </div>
            <div class="col-4"><input type="text" @bind-value="@producto.Nombre" class="form-control w-100" /></div>
            <div class="col-1">Precio: $</div>
            <div class="col-2"><input type="number" @bind-value="@producto.Precio" class="form-control w-100" /></div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-2"><button type="button" class="btn btn-primary w-100" @onclick="Guardar"><span class="oi oi-check" /> Guardar </button> </div>
            <div class="col-2"><button type="button" class="btn btn-danger w-100" @onclick="Cancelar"><span class="oi oi-action-undo" /> Cancelar </button> </div>
        </div>
    </div>

}
@if (!string.IsNullOrEmpty(mensaje))
{
    if (esError)
    {
        <div class="alert alert-warning" role="alert">
            <strong>Error: </strong> @mensaje
        </div>

    }
}


<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in productos)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.NombreCategoria</td>
                <td>$@item.Precio</td>
                <td>
                    <button type="button" class="btn btn-warning" @onclick="()=>Editar(item)"><span class="oi oi-pencil" /> </button>
                    <button type="button" class="btn btn-danger" @onclick="()=>Eliminar(item)"><span class="oi oi-trash" /> </button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    bool esEdicion = false, mostrarFormulario = false, esError = false;
    string mensaje = "";
    Productos producto;
    List<ProductosCompletosModel> productos;
    List<Categorias> categorias;
    RepositorioProductos repositorioProductos;
    RepositorioCategorias repositorioCategorias;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        repositorioProductos = FabricRepositorios.RepositorioProductos();
        repositorioCategorias = FabricRepositorios.RepositorioCategorias();
        LlenarTabla();
    }

    protected void LlenarTabla()
    {
        categorias = repositorioCategorias.TraerTodos;
        productos = repositorioProductos.TraerProductosCompletos;
        StateHasChanged();
    }

    protected void Agregar()
    {
        mostrarFormulario = true;
        producto = new Productos();
        esEdicion = false;
    }

    protected void Editar(ProductosCompletosModel p)
    {
        mostrarFormulario = true;
        esEdicion = true;
        producto = new Productos()
            {
                Id = p.Id,
                IdCategoria = p.IdCategoria,
                Nombre = p.Nombre,
                Precio = p.Precio
            };
    }

    protected void Cancelar()
    {
        mostrarFormulario = false;
        mensaje = "";
        esError = false;
    }

    protected void Guardar()
    {
        var r = esEdicion ? repositorioProductos.Modificar(producto) : repositorioProductos.Insertar(producto);
        if (r != null)
        {
            mostrarFormulario = false;
            LlenarTabla();
            mensaje = "";
            esError = false;
        }
        else
        {
            mensaje = "Error al almacenar el registro";
            esError = true;
        }
    }
    protected async void Eliminar(ProductosCompletosModel p)
    {
        if (await jsRuntime.InvokeAsync<bool>("confirm", $"¿Realmente deseas eliminar a {p.Nombre}?"))
            if (repositorioProductos.Eliminar(p.Id))
            {
                mostrarFormulario = false;
                LlenarTabla();
                mensaje = "";
                esError = false;
            }
            else
            {
                mensaje = "Error al eliminar el registro";
                esError = true;
            }
    }
}

*@