﻿@page "/CatClientes"
@using COMMON;
@using COMMON.Entidades;
@using COMMON.Validadores;
@using COMMON.Modelos;
@using BIZ;
@using BIZ.Managers;
@using BIZ.Tools;
@using WebAPI;
@using WebAPI.Controllers;

<h3>Clientes</h3>
<button type="button" @onclick="Agregar" class="btn btn-success"> <span class="oi oi-plus" />Agregar </button>
@if (mostrarFormulario)
{
    <div class="container">

        <div class="row">

            <div class="col-1">IdProducto: </div>
            <div class="col-4"><input type="text" @bind-value="@cliente.IdCliente" class="form-control w-100" /></div>
            <div class="col-1">Nombre: </div>
            <div class="col-4"><input type="text" @bind-value="@cliente.Nombre" class="form-control w-100" /></div>
            <div class="col-1">Apellido Paterno: </div>
            <div class="col-2"><input type="text" @bind-value="@cliente.ApellidoPaterno" class="form-control w-100" /></div>
            <div class="col-1">Apellido Materno: </div>
            <div class="col-4"><input type="text" @bind-value="@cliente.ApellidoMaterno" class="form-control w-100" /></div>
            <div class="col-1">Telefono: </div>
            <div class="col-4"><input type="tel" @bind-value="@cliente.Telefono" class="form-control w-100" /></div>
            <div class="col-1">Genero: </div>
            <div class="col-4"><input type="text" @bind-value="@cliente.Sexo" class="form-control w-100" /></div>
            <div class="col-1">Genero: </div>
            <div class="col-4"><input type="text" @bind-value="@cliente.Direccion" class="form-control w-100" /></div>
            <div class="col-1">Activo: </div>
            <div class="col-4"><input type="text" @bind-value="@cliente.Habilitado" class="form-control w-100" /></div>
            <div class="col-1">Password: </div>
            <div class="col-4"><input type="password" @bind-value="@cliente.Password" class="form-control w-100" /></div>
            

        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-2"><button type="button" class="btn btn-primary w-100" @onclick="Guardar"><span class="oi oi-check" /> Guardar </button> </div>
            <div class="col-2"><button type="button" class="btn btn-danger w-100" @onclick="Cancelar"><span class="oi oi-action-undo" /> Cancelar </button> </div>
        </div>
    </div>

}
@if (!string.IsNullOrEmpty(mensaje))
{
    if (esError)
    {
        <div class="alert alert-warning" role="alert">
            <strong>Error: </strong> @mensaje
        </div>

    }
}


<table class="table table-hover">
    <thead>
        <tr>
            <th>IdCliente</th>
            <th>Nombre</th>
            <th>ApellidoPaterno</th>
            <th>ApellidoMaterno</th>
            <th>Telefono</th>
            <th>Sexo</th>
            <th>Direccion</th>
            <th>Habilitado</th>
            <th>Password</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in clientes)
        {
            <tr>
                <td>@item.IdCliente</td>
                <td>@item.Nombre</td>
                <td>@item.ApellidoPaterno</td>
                <td>@item.ApellidoMaterno</td>
                <td>@item.Telefono</td>
                <td>@item.Sexo</td>
                <td>@item.Direccion</td>
                <td>@item.Habilitado</td>
                <td>@item.Password</td>
                <td>
                    <button type="button" class="btn btn-warning" @onclick="()=>Editar(item)"><span class="oi oi-pencil" /> </button>
                    <button type="button" class="btn btn-danger" @onclick="()=>Eliminar(item)"><span class="oi oi-trash" /> </button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    bool esEdicion = false, mostrarFormulario = false, esError = false;
    string mensaje = "";
    Clientes cliente;
    List<ModelClientesListado> clientes;
    
    ClientesManager clientesManager;
   
    protected override void OnInitialized()
    {
        base.OnInitialized();
        clientesManager = FabricManager.ClientesManager();
        LlenarTabla();

    }

    protected void LlenarTabla()
    {
        clientes = clientesManager.ObtenerTodosListados();
        StateHasChanged();
    }

    protected void Agregar()
    {
        mostrarFormulario = true;
        cliente = new Clientes();
        esEdicion = false;
    }

    protected void Editar(Clientes u)
    {
        cliente = u;
        mostrarFormulario = true;
        esEdicion = true;
    }

    protected void Cancelar()
    {
        mostrarFormulario = false;
        mensaje = "";
        esError = false;
    }

    protected void Guardar()
    {
        if (esEdicion)
        {
            //modificar
            if (!esEdicion)
            {
                mostrarFormulario = false;
                LlenarTabla();
                mensaje = "Error al almacenar el registro";
                esError = true;
            }
        }
        else
        {
            //Agregar
            if (clientesManager.Insertar(cliente) != null)
            {
                mostrarFormulario = false;
                LlenarTabla();
                mensaje = "";
                esError = false;
            }
        }

    }
    void Eliminar(Clientes u)
    {
        if (clientesManager.Eliminar(u.Id))
        {
            mostrarFormulario = false;
            LlenarTabla();
            mensaje = "Se a eliminado Correctamente";
            esError = false;
        }
        else
        {
            mensaje = "Error al eliminar el registro";
            esError = true;
        }

        //}

    }
}