﻿@page "/CatCategorias"
@using COMMON;
@using COMMON.Entidades;
@using COMMON.Validadores;
@using COMMON.Modelos;
@using BIZ;
@using BIZ.Managers;
@using BIZ.Tools;
@using WebAPI;
@using WebAPI.Controllers;

<h3>Categorias</h3>
<button type="button" @onclick="Agregar" class="btn btn-success"> <span class="oi oi-plus" />Agregar </button>
@if (mostrarFormulario)
{
    <div class="container">

        <div class="row">
            <div class="fw-bold">Nombre</div>
            <div class="col-2"><input type="text" class="form-control" @bind-value=@categoria.Nombre /> </div>

        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-2"><button type="button" class="btn btn-primary w-100" @onclick="Guardar"><span class="oi oi-check" /> Guardar </button> </div>
            <div class="col-2"><button type="button" class="btn btn-danger w-100" @onclick="Cancelar"><span class="oi oi-action-undo" /> Cancelar </button> </div>

           @* <div class="row">
                <div class="col-1"><button type="button" class="btn btn-primary" @onclick="Guardar">Guardar</button> </div>
                <div class="col-"><button type="button" class="btn btn-danger" @onclick="Cancelar">Cancelar</button> </div>
            </div>*@

        </div>
    </div>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in categorias)
        {
            <tr>

                <td>@item.Nombre</td>

                <td></td>
                <td>
                    <button type="button" class="btn btn-warning" @onclick="()=>Editar(item)"><span class="oi oi-pencil" /> </button>
                    <button type="button" class="btn btn-danger" @onclick="@(()=>Eliminar(item))"><span class="oi oi-trash" /> </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    Categorias categoria;
    bool esEdicion, mostrarFormulario;
    
    List<Categorias> categorias;

    CategoriasManager categoriasManager;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        categoriasManager = FabricManager.CategoriasManager();
        LlenarTabla();
        esEdicion = false;
        mostrarFormulario = false;

    }

    public void LlenarTabla()
    {
        categorias = categoriasManager.ObtenerTodos;
        StateHasChanged();
    }

    public void Agregar()
    {
        esEdicion = false;
        categoria = new Categorias();
        mostrarFormulario = true;
    }
    protected void Guardar()
    {
        if (esEdicion)
        {
            //modificar
            if (!esEdicion)
            {
                mostrarFormulario = false;
                LlenarTabla();
            }
        }
        else
        {
            //Agregar
            if (categoriasManager.Insertar(categoria) != null)
            {
                mostrarFormulario = false;
                LlenarTabla();
            }
        }

    }

    void Eliminar(Categorias u)
    {
        categoriasManager.Eliminar(u.Id.ToString());
        LlenarTabla();
        if (categoriasManager.Eliminar(categoria.Id))
        {
            //hhhh
        }
    }
    protected void Editar(Categorias u)
    {
        categoria = u;
        mostrarFormulario = true;
        esEdicion = true;
    }
    protected void Cancelar()
    {
        mostrarFormulario = false;
    }

}
  