﻿@page "/CatMarca"
@using COMMON;
@using COMMON.Entidades;
@using COMMON.Validadores;
@using COMMON.Modelos;
@using BIZ;
@using BIZ.Managers;
@using BIZ.Tools;
@using WebAPI;
@using WebAPI.Controllers;

<h3>Marca</h3>
<button type="button" @onclick="Agregar" class="btn btn-success"> <span class="oi oi-plus" />Agregar </button>
@if (mostrarFormulario)
{
    <div class="container">

        <div class="row">

            <div class="col-1">Nombre: </div>
            <div class="col-4"><input type="text" @bind-value="@marca.Nombre" class="form-control w-100" /></div>
            


        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-2"><button type="button" class="btn btn-primary w-100" @onclick="Guardar"><span class="oi oi-check" /> Guardar </button> </div>
            <div class="col-2"><button type="button" class="btn btn-danger w-100" @onclick="Cancelar"><span class="oi oi-action-undo" /> Cancelar </button> </div>
        </div>
    </div>

}
@if (!string.IsNullOrEmpty(mensaje))
{
    if (esError)
    {
        <div class="alert alert-warning" role="alert">
            <strong>Error: </strong> @mensaje
        </div>

    }
}


<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in marcas)
        {
            <tr>

                <td>@item.Nombre</td>

                <td>
                    <button type="button" @onclick="(()=>Editar(item))" class="btn btn-warning"><span class="oi oi-pencil" aria-hidden="true" /> </button>
                    <button type="button" @onclick="(()=>Eliminar(item))" class="btn btn-danger"><span class="oi oi-trash" aria-hidden="true" /> </button>
                </td>

            </tr>
        }
    </tbody>
</table>



@code {
    bool esEdicion = false, mostrarFormulario = false, esError = false;
    string mensaje = "";
    Marca marca;
    List<ModelMarcaListado> marcas;

    MarcaManager marcaManager;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        marcaManager = FabricManager.MarcaManager();

        LlenarTabla();

    }

    protected void LlenarTabla()
    {

        marcas = marcaManager.ObtenerTodosListados();
        StateHasChanged();
    }

    protected void Agregar()
    {
        mostrarFormulario = true;
        marca = new Marca();
        esEdicion = false;
    }
    protected void Editar(Marca u)
    {
        marca = u;
        mostrarFormulario = true;
        esEdicion = true;
    }

    protected void Cancelar()
    {
        mostrarFormulario = false;
        mensaje = "";
        esError = false;
    }

    protected void Guardar()
    {
        if (esEdicion)
        {
            LlenarTabla();
            //modificar
            if (!esEdicion)
            {
                mostrarFormulario = false;
                LlenarTabla();
                mensaje = "Error al almacenar el registro";
                esError = true;
            }
        }
        else
        {
            //Agregar
            if (marcaManager.Insertar(marca) != null)
            {
                mostrarFormulario = false;
                LlenarTabla();
                mensaje = "";
                esError = false;
            }
        }

    }
    void Eliminar(Marca u)
    {
        if (marcaManager.Eliminar(u.Id))
        {
            mostrarFormulario = false;
            LlenarTabla();
            mensaje = "Se a eliminado Correctamente";
            esError = false;
        }
        else
        {
            mensaje = "Error al eliminar el registro";
            esError = true;
        }

        //}

    }
}