﻿@page "/CatProductos"
@using COMMON;
@using COMMON.Entidades;
@using COMMON.Validadores;
@using COMMON.Modelos;
@using BIZ;
@using BIZ.Managers;
@using BIZ.Tools;
@using WebAPI;
@using WebAPI.Controllers;

<h3>Producto</h3>
<button type="button" @onclick="Agregar" class="btn btn-success"> <span class="oi oi-plus" />Agregar </button>
@if (mostrarFormulario)
{
        <div class="container">

            <div class="row">

                <div class="col-1">IdProducto: </div>
                <div class="col-4"><input type="text" @bind-value="@producto.IdProducto" class="form-control w-100" /></div>
                <div class="col-1">Nombre: </div>
                <div class="col-4"><input type="text" @bind-value="@producto.Nombre" class="form-control w-100" /></div>
                <div class="col-1">Precio: $</div>
                <div class="col-2"><input type="number" @bind-value="@producto.Costo" class="form-control w-100" /></div>
                <div class="col-1">Cantidad: </div>
                <div class="col-4"><input type="number" @bind-value="@producto.Cantidad" class="form-control w-100" /></div>
                <div class="col-1">FechaIngreso: </div>
                <div class="col-3"><input type="datetime-local" class="form-control" @bind-value=@producto.FechaIngreso/> </div>


                <div class="col-1">Marca:</div>
                <div class="col-3">
                    <select class="form-select w-100" @bind="@producto.IdMarca">
                    @foreach (var item in marca)
                    {
                                <option value="@item.Id"> @item.Nombre </option>
                    }
                    </select>
                </div>

                <div class="col-1">Categorias:</div>
                <div class="col-3">
                    <select class="form-select w-100" @bind="@producto.IdCategoria">
                    @foreach (var item in categorias)
                    {
                                <option value="@item.Id"> @item.Nombre </option>
                    }
                    </select>
                </div>



            </div>
            <div class="row">
                <div class="col-8"></div>
                <div class="col-2"><button type="button" class="btn btn-primary w-100" @onclick="Guardar"><span class="oi oi-check" /> Guardar </button> </div>
                <div class="col-2"><button type="button" class="btn btn-danger w-100" @onclick="Cancelar"><span class="oi oi-action-undo" /> Cancelar </button> </div>
            </div>
        </div>

}
@if (!string.IsNullOrEmpty(mensaje))
{
    if (esError)
    {
                <div class="alert alert-warning" role="alert">
                    <strong>Error: </strong> @mensaje
                </div>

    }
}


<table class="table table-hover">
    <thead>
        <tr>
            <th>IdProducto</th>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Cantidad</th>
            <th>FechaIngreso</th>
            <th>IdCategoria</th>
            <th>IdMarca</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in productos)
        {
                <tr>
                    <td>@item.IdProducto</td>
                    <td>@item.Nombre</td>
                    <td>$@item.Costo</td>
                    <td>@item.Cantidad</td>
                    <td>@item.FechaIngreso</td>
                    <td>@item.NombreCategorias</td>
                    <td>@item.NombreMarcas</td>
                    <td>
                        <button type="button" class="btn btn-warning" @onclick="()=>Editar(item)"><span class="oi oi-pencil" /> </button>
                        <button type="button" class="btn btn-danger" @onclick="()=>Eliminar(item)"><span class="oi oi-trash" /> </button>
                    </td>
                </tr>
        }
    </tbody>
</table>


@code {
    bool esEdicion = false, mostrarFormulario = false, esError = false;
    string mensaje = "";
    private DateTime FechaIngreso = DateTime.Now;
    Productos producto;
    List<ModelProductosListado> productos;
    List<Marca> marca;
    List<Categorias> categorias;
    ProductosManager productosManager;
    MarcaManager marcaManager;
    CategoriasManager categoriasManager;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        productosManager = FabricManager.ProductosManager();
        marcaManager = FabricManager.MarcaManager();
        categoriasManager = FabricManager.CategoriasManager();
        LlenarTabla();

    }

    protected void LlenarTabla()
    {
        marca = marcaManager.ObtenerTodos;
        categorias = categoriasManager.ObtenerTodos;
        productos = productosManager.ObtenerTodosListados();
        StateHasChanged();
    }

    protected void Agregar()
    {
        mostrarFormulario = true;
        producto = new Productos();
        esEdicion = false;
    }

    protected void Editar(Productos u)
    {
        producto = u;
        mostrarFormulario = true;
        esEdicion = true;
    }

    protected void Cancelar()
    {
        mostrarFormulario = false;
        mensaje = "";
        esError = false;
    }

    protected void Guardar()
    {
        if (esEdicion)
        {
            //modificar
            if (!esEdicion)
            {
                mostrarFormulario = false;
                LlenarTabla();
                mensaje = "Error al almacenar el registro";
                esError = true;
            }
        }
        else
        {
            //Agregar
            if (productosManager.Insertar(producto) != null)
            {
                mostrarFormulario = false;
                LlenarTabla();
                mensaje = "";
                esError = false;
            }
        }

    }
    void Eliminar(Productos u)
    {
        if (productosManager.Eliminar(u.Id))
        {
            mostrarFormulario = false;
            LlenarTabla();
            mensaje = "Se a eliminado Correctamente";
            esError = false;
        }
        else
        {
            mensaje = "Error al eliminar el registro";
            esError = true;
        }

        //}

    }
}
