﻿@page "/CatUsuarios"
@using COMMON;
@using COMMON.Entidades;
@using COMMON.Validadores;
@using COMMON.Modelos;
@using BIZ;
@using BIZ.Managers;
@using BIZ.Tools;
@using WebAPI;
@using WebAPI.Controllers;

<h3>Usuarios</h3>
<button type="button" @onclick="Agregar" class="btn btn-success"><span class="oi oi-plus" /> Agregar </button>
@if(mostrarFormulario)
{
	<div class="container">
		<div class="row">
			<div class="fw-bold align-items-center">IdUsuario</div>
			<div class="col-2"><input type="text" class="form-control" @bind-value=@usuario.IdUsuario/> </div>
			<div class="fw-bold">Nombre</div>
			<div class="col-2"><input type="text" class="form-control" @bind-value=@usuario.Nombre /> </div>
			<div class="fw-bold">ApellidoPaterno</div>
			<div class="col-2"><input type="text" class="form-control" @bind-value=@usuario.ApellidoPaterno /> </div>
			<div class="fw-bold">ApellidoMaterno</div>
			<div class="col-2"><input type="text" class="form-control" @bind-value=@usuario.ApellidoMaterno /> </div>
			<div class="fw-bold">Password</div>
			<div class="col-2"><input type="password" class="form-control" @bind-value=@usuario.Password /> </div>
			<div class="fw-bold">IdRol</div>
			<div class="col-2"><input type="text" class="form-control" @bind-value=@usuario.IdRol /> </div>
			
		
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-2"><button type="button" class="btn btn-primary w-100" @onclick="Guardar"><span class="oi oi-check" /> Guardar </button> </div>
            <div class="col-2"><button type="button" class="btn btn-danger w-100" @onclick="Cancelar"><span class="oi oi-action-undo" /> Cancelar </button> </div>
        </div>
    </div>
}

<table class="table table-hover">
	<thead>
		<tr>
			<th>IdUsuario</th>
			<th>Nombre</th>
			<th>ApellidoPaterno</th>
			<th>ApellidoMaterno</th>
			<th>Password</th>
			<th>IdRol</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in usuarios)
		{
			<tr>
				<td>@item.IdUsuario</td>
				<td>@item.Nombre</td>
				<td>@item.ApellidoPaterno</td>
				<td>@item.ApellidoMaterno</td>
				<td>@item.Password</td>
				<td>@item.IdRol</td>
				<td></td>
				<td>
					<button type="button" class="btn btn-warning" @onclick="()=>Editar(item)"><span class="oi oi-pencil" /> </button>
					<button type="button" class="btn btn-danger" @onclick="@(()=>Eliminar(item))"><span class="oi oi-trash" /> </button>
				</td>
			</tr>
		}
	</tbody>
</table>

@code{
	Usuarios usuario;
	bool esEdicion, mostrarFormulario;

	List<Usuarios> usuarios;
	UsuariosManager usuariosManager;
	protected override void OnInitialized()
	{
		base.OnInitialized();
		usuariosManager = FabricManager.UsuariosManager();
		LlenarTabla();
		esEdicion = false;
		mostrarFormulario=false;
	}

	public void LlenarTabla()
	{
		usuarios = usuariosManager.ObtenerTodos;
		StateHasChanged();
	}

	public void Agregar()
	{
		esEdicion=false;
		usuario = new Usuarios();
		mostrarFormulario=true;
	}
	public void Guardar()
	{
		if (esEdicion)
		{
			if (!esEdicion)
			{
				mostrarFormulario = false;
				LlenarTabla();
			}
		}
		else
		{
			if (usuariosManager.Insertar(usuario)!=null)
			{
				mostrarFormulario = false;
				LlenarTabla();
			}
		}
	}
	void Eliminar(Usuarios u)
	{
		usuariosManager.Eliminar(u.Id.ToString());
		LlenarTabla();
		if (usuariosManager.Eliminar(usuario.Id))
		{
			//hhhh
		}
	}
	protected void Editar(Usuarios u)
	{
		usuario = u;
		mostrarFormulario=true;
		esEdicion = true;
	}
	protected void Cancelar()
	{
		mostrarFormulario = false;
	}

}