﻿@page "/"

<PageTitle>Tlapaleria Vargas</PageTitle>

<div class="fw-bold align-items-center">
    <p class="text-center texto-grande"></p>
    <h1>Bienvenido a Tlapaleria Vargas</h1>
    Descubre todos articulos que tenemos a la venta.
</div>


@*<SurveyPrompt Title="Bienvenido a Tlapaleria Vargas" />*@
<div class="col-1">
    <center><img src="/Imagenes/logo.png" height="500px"</center>
    @*<img src="/Imagenes/logo.png" class="center-image" style="accent-color="500px" />*@
</div>
